<div class="grid">
  <div *ngFor="let metric of QuarterlyRebates" class="col-12 md:col-6 lg:col-3">
    <div class="card h-full">
      <div class="flex align-items-center justify-content-between mb-3">
        <span class="text-900 text-xl font-semibold">{{metric.programName}}</span>
        <div>
          <button pButton pRipple icon="pi pi-ellipsis-v" class="p-button-text p-button-sm p-button-rounded" (click)="menu.toggle($event); setValue(metric.batchID + ',' + metric.programID);"></button>
          <p-menu #menu [popup]="true" appendTo="body" [model]="menuitems"></p-menu>
        </div>
      </div>
      <div>
        <div ngClass="bg-green-100" class="border-round" style="height: 6px">
          <div ngClass="bg-green-500" class="h-full border-round" [style.width]="getMetricPercentage(metric)"></div>
        </div>
        <span class="text-sm text-color-secondary mt-1 d-block">{{ getMetricPercentage(metric) }} of total</span>

        <div class="flex align-item-center justify-content-between">
          <span class="text-900 mt-3 text-md font-medium">{{metric.totalAmount | currency}}</span>
          <span class="text-900 mt-3 text-md font-medium">{{metric.issueDate | date}}</span>
        </div>
      </div>
    </div>
  </div>


  <div class="col-12 md:col-6 lg:col-12">
    <div class="card h-full">
      <app-file-uploader mode="rebate" (reload)="onReload()"></app-file-uploader>
    </div>
  </div>


      <div class="col-14 md:col-9 xl:col-12">
        <div class="card">
          <div class="text-900 text-xl font-semibold mb-3">Quarterly Rebate Summary Uploads</div>
          <p-table responsiveLayout="scroll" #dt [value]="QRHistorical" [rows]="8" [paginator]="true">
            <ng-template pTemplate="header">
              <tr>

                <th pSortableColumn="id" style="min-width:2rem" class="white-space-nowrap">Batch ID <p-sortIcon field="id"></p-sortIcon></th>

                <th style="min-width:2rem" class="white-space-nowrap">Public </th>

                <th pSortableColumn="issueDate" style="min-width:2rem" class="white-space-nowrap">Issue Date <p-sortIcon field="issueDate"></p-sortIcon></th>

                <th pSortableColumn="totalAmount" style="min-width:2rem" class="white-space-nowrap">Gross Issued <p-sortIcon field="totalAmount"></p-sortIcon></th>

                <th style="width:8rem"></th>

              </tr>
            </ng-template>


            <ng-template pTemplate="body" let-QRHistorical>
              <tr>
                <td>
                  <div class="flex align-items-center">
                    <i [class]="'text-xl text-primary mr-2 ' + 'pi pi-key'"></i>
                    <span>{{QRHistorical.id}}  </span>
                  </div>
                </td>
                <td>
                  <span> <p-inputSwitch   (onChange)="Activate(QRHistorical.id)" [(ngModel)]=QRHistorical.active> </p-inputSwitch></span>
                </td>
                <td>
                  <span>{{QRHistorical.issueDate | date}}</span>
                </td>
                <td>
                  <span>{{QRHistorical.totalAmount | currency}}</span>
                </td>

                <td class="text-center">
                  <button (click)="Delete(QRHistorical)" pButton pRipple icon="pi pi-times" class="p-button-danger p-button-text p-button-rounded mr-2"></button>
                  <button (click)="Download(QRHistorical)" pButton pRipple icon="pi pi-file-excel" class="p-button-text p-button-rounded"></button>
                </td>

              </tr>
            </ng-template>
          </p-table>
        </div>
      </div>
    </div>
