<div class="col-12">
  <div class="card">
    <div class="text-900 text-xl font-semibold mb-3">🔐 Security Administration</div>
    <p-confirmDialog></p-confirmDialog>
    <p-tabView [(activeIndex)]="activeTabIndex">
      <p-tabPanel header="Users">
        <ng-container *ngIf="activeTabIndex === 0">
          <app-user-management></app-user-management>
        </ng-container>
      </p-tabPanel>
      <p-tabPanel header="Roles">
        <ng-container *ngIf="activeTabIndex === 1">
          <app-role-management></app-role-management>
        </ng-container>
      </p-tabPanel>
      <p-tabPanel header="Permissions">
        <ng-container *ngIf="activeTabIndex === 2">
          <app-permission-management></app-permission-management>
        </ng-container>
      </p-tabPanel>
    </p-tabView>

  </div>
</div>
