<p-toast></p-toast>
<div class="grid">

  <div class="col-12 md:col-9 xl:col-12">
    <div class="card">
      <div class="mb-3">
        <div class="text-900 text-xl font-semibold mb-3">
          Instant Rebate Declines
        </div>

        <div class="flex align-items-center" style="gap: 1rem;">
          <div class="p-input-icon-left w-100 max-w-25rem">
            <i class="pi pi-search"></i>
            <input pInputText
                   type="text"
                   (input)="onSearch($event)"
                   placeholder="Search..."
                   class="w-full"
                   style="border-radius: 2rem" />
          </div>
         
        </div>
      </div>

      <app-ir-declines-table [declines]="declinedIRs"
                             [columns]="IRDeclinecols"
                             [globalFilterFields]="['orderID','processDate','rejectReason','memberID','model']"
                             #declinesTable>
      </app-ir-declines-table>
    </div>
  </div>




  <div class="col-12 md:col-9 xl:col-12">
    <div class="card">
      <div class="text-900 text-xl font-semibold mb-3">Instant Rebate Deployments</div>
      <div class="inline-flex align-items-center">

        <span class="p-input-icon-left flex-auto">
          <i class="pi pi-search"></i>
          <input pInputText type="text" (input)="onGlobalFilter(dtDeployments, $event)" placeholder="Search" class="w-full" style="border-radius: 2rem" />
        </span>

        <!--<button pButton pRipple icon="pi pi-cloud-download" class="p-button-rounded mx-3" (click)="dtDeployments.exportCSV()"></button>-->

      </div>

      <div class="flex justify-content-end mb-2">
        <button pButton
                pRipple
                icon="pi pi-file-excel"
                label="Export to Excel"
                class="p-button-sm p-button-success"
                (click)="exportToExcel(dtDeployments)">
        </button>
      </div>
      <p-table responsiveLayout="scroll" #dtDeployments [columns]="cols" [value]="InstantRebateBatches" [rows]="8" [paginator]="true" [globalFilterFields]="['batchID','vendorName','units','programStart','programEnd','irtypeName']">
        <ng-template pTemplate="header">
          <tr>
            <th pSortableColumn="batchID" style="min-width:2rem" class="white-space-nowrap">Batch ID <p-sortIcon field="batchID"></p-sortIcon></th>
            <th style="min-width:2rem" class="white-space-nowrap">Public </th>
            <th pSortableColumn="vendorName" style="min-width:2rem" class="white-space-nowrap">Vendor<p-sortIcon field="vendorName"></p-sortIcon></th>
            <th pSortableColumn="units" style="min-width:2rem" class="white-space-nowrap"> Models Configured <p-sortIcon field="units"></p-sortIcon></th>
            <th pSortableColumn="programStart" style="min-width:2rem" class="white-space-nowrap"> Program Start Date <p-sortIcon field="programStart"></p-sortIcon></th>
            <th pSortableColumn="programEnd" style="min-width:2rem" class="white-space-nowrap"> Program End Date <p-sortIcon field="programEnd"></p-sortIcon></th>
            <th pSortableColumn="irtypeName" style="min-width:2rem" class="white-space-nowrap"> IR Type<p-sortIcon field="irtypeName"></p-sortIcon></th>
            <th style="width:8rem"></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-batch>
          <tr>
            <td>
              <div class="flex align-items-center">
                <i [class]="'text-xl text-primary mr-2 ' + 'pi pi-key'"></i>
                <span>{{batch.batchID}}</span>
              </div>
            </td>
            <td>
              <span>
                <p-inputSwitch (reload)="onReload()"
                               [ngModel]="getActiveStatus(batch)"
                               (onChange)="Activate(batch)">  </p-inputSwitch>
              </span>
            </td>
            <td>
              <span>{{batch.vendorName}}</span>
            </td>
            <td>
              <span>{{batch.units}}</span>
            </td>
            <td>
              <span>{{batch.programStart | date }}</span>
            </td>
            <td>
              <span>{{batch.programEnd | date }}</span>
            </td>
            <td>
              <span>{{batch.irtypeName }}</span>
            </td>
            <td class="text-center">
              <!--<button (click)="Delete(InstantRebateBatches)" pButton pRipple icon="pi pi-times" class="p-button-danger p-button-text p-button-rounded mr-2"></button>-->
              <button (click)="Download(batch.batchID)" pButton pRipple icon="pi pi-file-excel" class="p-button-text p-button-rounded"></button>
            </td>
          </tr>

        </ng-template>
      </p-table>
    </div>
  </div>

</div>
