<p-toast></p-toast>
<div class="p-grid p-align-center p-mb-3" style="max-width: 100%; overflow-x: hidden;">
  <div class="p-col-12 p-md-4 py-2">
    <span class="p-input-icon-left w-full">
      <i class="pi pi-search"></i>
      <input pInputText
             type="text"
             (input)="onGlobalFilter(dtSubs, $event)"
             placeholder="Search subscriptions..."
             class="w-full"
             style="border-radius: 2rem" />
    </span>
  </div>

  <div class="p-col-12 p-md-4 py-2">
    <p-multiSelect appendTo="body"
                   [options]="subscriptionTypeOptions"
                   [(ngModel)]="selectedSubscriptionTypes"
                   defaultLabel="Filter by Subscription Type"
                   display="chip"
                   placeholder="Select types"
                   (onChange)="applyFilter()"
                   class="w-full"
                   [style.width.%]="100">
      <ng-template let-option pTemplate="item">
        <span [ngClass]="getChipClass(option.value)" class="custom-chip">
          {{ option.label }}
        </span>
      </ng-template>
      <ng-template let-selectedOption pTemplate="selectedItem">
        <span [ngClass]="getChipClass(selectedOption.value)" class="custom-chip">
          {{ selectedOption.label }}
        </span>
      </ng-template>
    </p-multiSelect>
  </div>

  <!-- Export button -->
  <div class="p-col-12 p-md-4 py-2 flex justify-content-md-end">
    <button pButton
            icon="pi pi-file-excel"
            label="Export Subscriptions Only"
            class="p-button-sm flex-grow-0"
            (click)="exportSubscriptionsOnly()"
            [loading]="exporting"
            [disabled]="exporting">
    </button>
  </div>
</div>




<!-- Subscriptions Table -->
<p-table #dtSubs
         [value]="subscriptions"
         [loading]="loading"
         [paginator]="true"
         [rows]="50"
         [rowsPerPageOptions]="[50, 100, 500]"
         [responsiveLayout]="'scroll'"
         [resizableColumns]="true"
         [scrollable]="true"
         scrollHeight="500px"
         dataKey="accountNumber"
         [globalFilterFields]="[
  'company',
  'accountNumber',
  'firstName',
  'lastName',
  'phone',
  'fax',
  'street',
  'city',
  'state',
  'zip',
  'country',
  'email',
  'subscriptionName',
  'quantity'
]"

         [filters]="{}"
         [showCurrentPageReport]="true"
         currentPageReportTemplate="Showing {first} to {last} of {totalRecords}">

  <ng-template pTemplate="header">
    <tr>
      <th>Image</th>
      <th pSortableColumn="company">Company <p-sortIcon field="company" /></th>
      <th pSortableColumn="subscriptionName">Subscription <p-sortIcon field="subscriptionName" /></th>
      <th pSortableColumn="accountNumber">Account <p-sortIcon field="accountNumber" /></th>
      <th pSortableColumn="firstName">First Name <p-sortIcon field="firstName" /></th>
      <th pSortableColumn="lastName">Last Name <p-sortIcon field="lastName" /></th>
      <th pSortableColumn="phone">Phone <p-sortIcon field="phone" /></th>
      <th pSortableColumn="fax">Fax <p-sortIcon field="fax" /></th>
      <th pSortableColumn="street">Street <p-sortIcon field="street" /></th>
      <th pSortableColumn="city">City <p-sortIcon field="city" /></th>
      <th pSortableColumn="state">State <p-sortIcon field="state" /></th>
      <th pSortableColumn="zip">Zip <p-sortIcon field="zip" /></th>
      <th pSortableColumn="country">Country <p-sortIcon field="country" /></th>
      <th pSortableColumn="email">Email <p-sortIcon field="email" /></th>

      <th pSortableColumn="quantity">Quantity <p-sortIcon field="quantity" /></th>
    </tr>
  </ng-template>

  <ng-template pTemplate="body" let-sub>
    <tr>
      <td>


        <div class="avatar-container">
          <img *ngIf="sub.imageUrl"
               [src]="sub.imageUrl"
               class="rounded-circle shadow-sm" />
              <div *ngIf="!sub.imageUrl" class="placeholder-avatar">
            <i class="pi pi-user"></i>
          </div>
        </div>

      </td>
      <td>{{ sub.company }}</td>
      <td>
        <p-tag [value]="sub.subscriptionName" [styleClass]="getSubscriptionChipClass(sub.subscriptionName)"></p-tag>
      </td>
      <td>{{ sub.accountNumber }}</td>
      <td>{{ sub.firstName }}</td>
      <td>{{ sub.lastName }}</td>
      <td>{{ sub.phone }}</td>
      <td>{{ sub.fax }}</td>
      <td>{{ sub.street }}</td>
      <td>{{ sub.city }}</td>
      <td>{{ sub.state }}</td>
      <td>{{ sub.zip }}</td>
      <td>{{ sub.country }}</td>
      <td>{{ sub.email }}</td>

      <td>{{ sub.quantity }}</td>
    </tr>
  </ng-template>

</p-table>
