

.brand-exclusions {

	::ng-deep {
		.p-dropdown {
			width: 350px;
		}
	}

	.brand-selection {
		display: flex;
		gap: 3rem;
		margin-top: 2rem;

		.source, .target {
			height: 50vh;
			width: 350px;
			overflow-y: auto;
			background-color: #fff;
			border-radius: 5px;
			border: solid 1px #ddd;
			padding: 1rem;

			ul {
				height: calc(100% - 2rem);
				list-style-type: none;
				margin: 0;
				padding: 0;
				
				li {
					padding: 0.25em;
				}
			}
		}
	}

	.actions {
		margin-top: 1rem;
	}
}