<p-tabView>
  <p-tabPanel header="Vendors">
    <app-vendor-grid></app-vendor-grid>
  </p-tabPanel>

  <p-tabPanel header="Members">
    <app-member-grid></app-member-grid>
  </p-tabPanel>

  <p-tabPanel header="Affiliates">
    <app-affiliate-grid></app-affiliate-grid>
  </p-tabPanel>

  <p-tabPanel header="Clients">
    <app-client-grid></app-client-grid>
  </p-tabPanel>

  <p-tabPanel header="PRO Subscriptions">
    <app-pro-subscriptions></app-pro-subscriptions>
  </p-tabPanel>
</p-tabView>
