<div class="grid">

  <div class="col-12 md:col-5 xl:col-3">
    <div class="card">
      <div class="text-900 text-xl font-semibold mb-3">Account Storage</div>
      <p-chart type="doughnut" [plugins]="chartPlugins" id="country-chart" [data]="fileChart" [options]="fileChartOptions" [style]="{'width': '75%'}"></p-chart>
      <div class="mt-5 flex gap-3">
        <button pButton pRipple icon="pi pi-search" class="p-button-outlined flex-1" label="Details"></button>
        <button pButton pRipple icon="pi pi-upload" class="flex-1" label="Upgrade"></button>
      </div>
    </div>

    <div class="card">
      <p-fileUpload #fileUploader
                    mode="advanced"
                    [customUpload]="true"
                    [multiple]="true"
                    (uploadHandler)="onUpload($event)"
                    chooseLabel="Upload">
      </p-fileUpload>
    </div>
  </div>

  <div class="col-12 md:col-7 xl:col-9">
    <!-- breadcrumb -->
    <div class="card">
      <p-breadcrumb [model]="breadcrumbItems" [home]="breadcrumbHome"></p-breadcrumb>
    </div>

    <!-- folders in the current directory -->
    <div class="card">
      <div class="text-900 text-xl font-semibold mb-3">Folders</div>
      <div *ngIf="!folders.length" class="text-600">No sub-folders here.</div>
      <div class="grid">
        <div *ngFor="let folder of folders" class="col-12 md:col-6 xl:col-4">
          <div class="p-3 border-1 surface-border flex align-items-center justify-content-between hover:surface-100 cursor-pointer border-round"
               (click)="openFolder(folder)">
            <div class="flex align-items-center">
              <i class="pi pi-folder text-2xl mr-3"></i>
              <span class="text-900 text-lg font-medium">{{ folder.name }}</span>
            </div>
            <i class="pi pi-chevron-right text-600"></i>
          </div>
        </div>
      </div>
    </div>

    <!-- files in the current directory -->
    <div class="card">
      <div class="text-900 text-xl font-semibold mb-3">Files</div>
      <p-table responsiveLayout="scroll" #dt [value]="files" [rows]="8" [paginator]="files.length > 8">
        <ng-template pTemplate="header">
          <tr>
            <th pSortableColumn="name" style="min-width:12rem" class="white-space-nowrap">Name <p-sortIcon field="name"></p-sortIcon></th>
            <th pSortableColumn="modifiedUtc" style="min-width:12rem" class="white-space-nowrap">Modified <p-sortIcon field="modifiedUtc"></p-sortIcon></th>
            <th pSortableColumn="sizeBytes" style="min-width:12rem" class="white-space-nowrap">Size <p-sortIcon field="sizeBytes"></p-sortIcon></th>
            <th style="width:10rem"></th>
          </tr>
        </ng-template>

        <ng-template pTemplate="body" let-file>
          <tr>
            <td>
              <div class="flex align-items-center">
                <i class="text-xl text-primary mr-2 pi pi-file"></i>
                <span>{{ file.name }}</span>
              </div>
            </td>
            <td><span>{{ file.modifiedUtc | date:'short' }}</span></td>
            <td><span>{{ formatSize(file.sizeBytes) }}</span></td>
            <td class="text-center">
              <a pButton pRipple icon="pi pi-eye"
                 class="p-button-text p-button-rounded mr-2"
                 [href]="viewUrl(file)" target="_blank" rel="noopener"></a>
              <a pButton pRipple icon="pi pi-download"
                 class="p-button-text p-button-rounded"
                 [href]="downloadUrl(file)"></a>
            </td>
          </tr>
        </ng-template>

        <ng-template pTemplate="emptymessage">
          <tr><td colspan="4" class="text-600">No files here.</td></tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>
